node_modules
dist
dashboard/dist
.env
database/outreach.db
.firebase
firestore.indexes.json
firebase-debug.log
firestore-debug.log
ui-debug.log
*.png
*.csv
.npm_local_cache/
firepit-log.txt
.DS_Store
